.header{
    height: 70px;
    width:100%;
    /* background-color:burlywood; */
    /* background-color: aqua; */
    display: flex;
    align-items:flex-start;
    flex-direction: row;
    position: fixed;
    padding-bottom: 30px;
    margin-bottom: 200px;
    z-index: 1;
    background-color: white;
    margin-top: -5px;
    /* justify-content:space-between; */
}
.options{
 margin-left: 300px;
 margin-right: 100px;
 width: 900px;
 display: flex;
 /* background-color: bisque; */
 justify-content:space-between;
}
#menu{
    margin-top: 0px;
    height: 30px;
    width: 30px;
}
#logo{
    margin-top: 2px;
    height: 65px;
    width: 140px;
}
a{
    text-decoration:none
}
.header-line {
    width: 100%;
    border: 1px solid black; /* You can adjust the color and thickness here */
    position: absolute;
    bottom: 0;
}
.intro{
    width: 100%;
    padding-bottom: 10px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    /* background-color: aqua; */
}
.middleline{
    margin-top: 800px;
    width: 100%;
    border: 5px solid black;
    bottom: 0;
}
.content{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
#para1{
    height: 100px;
    width: 600px;
    /* background-color: aquamarine; */
    align-items:flex-start;
    
}
#para2{
    height: 100px;
    width: 600px;
    /* background-color: azure; */
}
#para3{
    height: 100px;
    width: 600px;
    /* background-color: aliceblue; */
}
#para4{
    height: 100px;
    width: 500px;
}
.right{
    margin-left: 40px;
}
.left{
    margin-left: 80px;
}
#para5{
    height: 100px;
    width: 500px;
}
#para6{
    height: 100px;
    width: 500px;
}
/* .people{
    display: flex;
    justify-content: center;
}
.peopleonfo{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}
#nitin{
    height: 200px;
    width: 310px;
    margin-top: 40px;
    background-color: aqua;
    /* background-image: url(nitin.png); */
    /* background-size:cover; */
    /* display: flex;
    flex-direction: row; */
/* } */
/* #nitininfo{
    width: 400px;
    height: 500px;
} */ 
.people{
    margin-top: 200px;
    height: 1000px;
    width: 800px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.person1{
    height: 400px;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 150px;
    padding-top: 5px;
}
#person1img{
    height: 480px;
    width: 380px;
    /* background-color: azure; */
    background-image: url(nitin.png);
    background-size: cover;

}
#person1info{
    height: 300px;
    width: 400px;
    margin-top: 50px;
    margin-left: 40px;
    font-size: 20px;
    /* background-color: chartreuse; */
}

.footer-line{
    width: 100%;
    border: 1px solid black; /* You can adjust the color and thickness here */
    /* position: absolute; */
    bottom: 0;
}
.footer{
    margin-top: 150px;
    height: 200px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aquamarine; */
}